extends layout
block head
    link(rel='stylesheet' href='css/index.css')
block main
    main.ofBody._borderRound
        section#app.ad
            span.text Bądź Fit  ! Zaplanuj swój posiłek już teraz w aplikacji
            br
            br
            a(href='/kcal')._linkRed
                span.launch.pointer._borderRound Kcalculator
    aside.ofBody._borderRound
        section#ads
            header.ofSection Oferty Fitus w okolicy:
            article.advert
                header.ofAd
                    span= offerTitle
                div.adPic
                     img(src='../img/embed/appAdvertBg.jpg')
                div.adDesc
                     span= offerDesc